/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.btn-primary {
    color: #fff;
    background-color: #e2542f !important;
    border-color: #e2542f !important;
    border: 0 !important;
}